.w_p{
    width: 132px;
    position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
    top: 144px;
   text-align: center;
margin-left: 8px;
   font-size: 15px;
   font-feature-settings: 'clig' off, 'liga' off;
font-family: Gilroy;
font-weight: 800;

}