.w_p{
    width: 135px;
    position: relative;
  
    top: 144px;
   text-align: center;
margin-left: 4px;
   font-size: 15px;
   font-feature-settings: 'clig' off, 'liga' off;
font-family: Gilroy;
font-weight: 800;

}