/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.App{
  background-color:var(--Dark-Dark--100, #0E1928);
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.star-bg1{
  width: 1.6875rem;
height: 1.6875rem;
flex-shrink: 0;
position: fixed;
top:24.4vh;
left: 12.2vw;
}
.star-bg2{
  width: 1.6875rem;
height: 1.6875rem;
flex-shrink: 0;
position: fixed;
top:42.4vh;
right: 12.8vw;
}
