@font-face {
    font-family: 'Saira SemiCondensed';
    src: url('../Saira_Semi_Condensed/SairaSemiCondensed-Regular.ttf') format('opentype');
}


@font-face {
    font-family: 'Gilroy';
    src: url('../gilroy/Radomir\ Tinkov\ -\ Gilroy-Regular.otf') format('opentype');
}

@font-face {
    font-family: 'Cinema Groovy';
    src: url('../cinema-groovy/CinemaGroovy-Regular.woff') format('WOFF');
}



